$background: rgba(255,255,255, 0.98);
$grey: #eee;
$input-padding: 15px;
$font-family: 'Optima';


body {
  background: $background;
  font-family: $font-family;
}
nav {
  width: 100%;
  padding: 15px;
  background: $grey;
  ul {
    margin-bottom: 0;
  }
}
h1 {
  margin: {
    left: 15px;
    right: 15px;
  }
}
button {
  background: transparent;
  border: 0;
  border-radius: 0;
  -webkit-transition: opacity 0.35s;
  -o-transition: opacity 0.35s;
  transition: opacity 0.35s;
  &:hover {
    -webkit-opacity: .5;
    -moz-opacity: .5;
    -ms-opacity: .5;
    -o-opacity: .5;
    opacity: .5;
  }
}
input {
  border: 0;
  background: $background;
  padding: $input-padding;
}

.jumbotron {
  min-height: 300px;
}
