body {
  background: rgba(255,255,255, 0.98);
}
nav {
  width: 100%;
  padding: 15px;
  background: #eee;
  ul {
    margin-bottom: 0;
  }
}
h1 {
  margin: {
    left: 15px;
    right: 15px;
  }
}
.btn-start {
  padding: 20px;
  background: rgba(2,5,0, 0.15);
  -webkit-transition: background 0.4s ease-in-out, color 0.4s ease-in-out, padding 0.4s ease-in-out;
  -o-transition: background 0.4s ease-in-out, color 0.4s ease-in-out, padding 0.4s ease-in-out;
  transition: background 0.4s ease-in-out, color 0.4s ease-in-out, padding 0.4s ease-in-out;
  &:hover {
    padding: 25px;
    background: rgba(2,3,0, 0.07);
    color: rgba(0,0,0, 0.7);
  }
}
.jumbotron {
  min-height: 300px;
}
