$background: rgba(255,255,255, 0.98);
$black: rgba(0,0,0, 0.92);
$grey: #eee;
$input-padding: 12px;
$input-margin: 7.5px 5px;
$font-family: 'Optima';
$font-size: 14px;


body {
  background: $background;
  font-family: $font-family;
  font-size: $font-size;
}
nav {
  width: 100%;
  padding: 15px;
  background: $grey;
  ul {
    margin-bottom: 0;
  }
}
h1 {
  margin: {
    left: 15px;
    right: 15px;
  }
}
a.button {
  cursor: pointer;
  background: transparent;
  color: $black;
  border: 0;
  border-radius: 0;
  -webkit-transition: opacity 0.35s;
  -o-transition: opacity 0.35s;
  transition: opacity 0.35s;
  &:hover {
    -webkit-opacity: .5;
    -moz-opacity: .5;
    -ms-opacity: .5;
    -o-opacity: .5;
    opacity: .5;
  }
}
input, textarea {
  text-align: center;
  font-size: 1.2em;
  border: 0;
  border-bottom: 1px solid $black;
  background: $background;
  margin: $input-margin;
  padding: $input-padding;
  box-shadow: none;
  outline: none;
}

.jumbotron {
  min-height: 300px;
}
