<p>{{welcome}}
<span class="action-parts" ng-repeat="part in todos.participants">{{part}}</span>
</p>

<p>{{action}}</p>
<div class="action-wrapper col-xs-12 col-sm-8 col-sm-offset-2">
  <h3>{{todoMessage}}</h3>
  <textarea name="todoAction" id="todoAction" cols="60" rows="4" ng-model="todoAction">... (e.g. getting coffee for everyone)</textarea>
  <div class="col-xs-12">
    <button type="button" class="col-xs-4 col-xs-offset-4" ng-click="result(todoAction)">
      Find out who!
    </button>
  </div>
</div>
