<div class="participant-wrapper col-xs-12 col-sm-8 col-sm-offset-2">
  <h3>{{welcome}}</h3>
  <div ng-repeat="(key, part) in todos.participants track by $index" class="col-xs-12 col-sm-6">
    <span ng-class="isLast($last)" ng-model="participant">{{part}}</span>
    <a class="button" ng-click="removeParticipant(part, key)">
      <span class="fa-stack">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-minus fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </div>
  <div class="col-xs-12 col-sm-6" ng-hide="showInput">
    <input type="text" name="newPart" ng-focus="onFocus()" ng-blur="newParticipant(newPart)" ng-model="newPart" placeholder="...">
    <a class="button" ng-click="newParticipant(newPart)">
      <span class="fa-stack fa-2x">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </div>
</div>


<div class="add-participant col-xs-12">
  <button id="next" type="button" ng-click="todoDone()">What are you guys doing?</button>
</div>
